/* CSS VARIABLES */
:root {
  --liver: #6b4b3e;
  --lapis: #1f5673;
  --airSuperiorityBlue: #759fbc;
  --lightBlue: #90c3c8;
  --white: #fff;
  --black: #0a0a0a;
}

.container-fluid {
  background-color: var(--airSuperiorityBlue);
  padding: 20px;
}

.navbar {
  padding: 0px;
}

.btn-outline-success {
  color: var(--liver);
  --bs-btn-border-color: var(--black);
}

#today-weather-icon {
  width: 40%;
  background-color: var(--lapis);
}

.card {
  background-color: rgba(0, 0, 0, 0.21);
  border-width: thick;
  border-radius: 20px;
}
#forecast-contain {
  box-shadow: 0 0 30px var(--airSuperiorityBlue);
  border-radius: 20px;
}

.card-img-top {
  background-color: var(--lapis);
  border-radius: 20px;
  width: 40%;
}
.card-body {
  border-radius: 20px;
  background-color: var(--lightBlue);
  transform: scale(2px);
}
.card:hover {
  box-shadow: var(--liver);
  border-color: var(--black);
  transition: 0.3s;
  transform: scale(2px);
}
